<h1>Imágenes destacadas</h1>
<img src="/uploads/<%= imagen %>" alt="Imagen aleatoria" style="max-width: 600px;">
<p><a href="/">Ver otra imagen</a></p>

<%
const flashMsg = getAndClearFlash();
if( flashMsg ) {
%>
<dialog id="flashModal">
    <form method="dialog">
    <p><%= flashMsg %></p>
    <button>Cerrar</button>
    </form>
</dialog>
<% } %>

<script>
const flashDialogEl = document.getElementById("flashModal");
if (flashDialogEl) {
    flashDialogEl.showModal();
}

</script>