<h1>El efecto Dunning-Kruger: cuando sabemos menos de lo que creemos</h1>
<p>El efecto Dunning-Kruger es un sesgo cognitivo en el que las personas con menos habilidades o 
    conocimientos en un área tienden a sobreestimar su competencia. Fue descrito en 1999 por los 
    psicólogos David Dunning y Justin Kruger tras una serie de experimentos que mostraban cómo los 
    individuos menos capacitados solían evaluar su desempeño muy por encima de la realidad.</p>
<p>Este fenómeno ocurre porque la falta de conocimiento impide reconocer los propios errores. 
    En otras palabras, para saber lo poco que sabemos, primero necesitamos aprender más. 
    Curiosamente, el efecto se revierte en personas altamente competentes, quienes tienden a subestimar 
    su habilidad porque asumen que los demás saben tanto como ellos. </p>
<p>
    Podemos ver este sesgo en la vida cotidiana: desde debates en redes sociales hasta en el trabajo, 
    donde alguien con poca experiencia puede mostrarse excesivamente confiado. Por eso, es fundamental 
    mantener la humildad intelectual y seguir aprendiendo, recordando la famosa frase de Sócrates: 
    "Solo sé que no sé nada".</p>
    