<body>
    <% if (typeof errors !== 'undefined' && errors.length > 0) { %>
        <div class="error-messages">
            <h3>Errores:</h3>
            <ul>
                <% errors.forEach(msg => { %>
                    <li><%= msg %></li>
                <% }) %>
            </ul>
        </div>
    <% } %>

    <% if (error) { %>
        <div class="error"><%= error %></div> 
    <% } %>

    <h2>Bienvenido a MyPixel, Regístrate</h2>
    <form action="/usuarios/register" method="POST" enctype="">
        
        <fieldset>
            <legend>Datos de Registro</legend>
            <p>
                <div><label>Nombre:</label></div>
                <input type="text" name="nombre" required>
            </p>
            
            <p>
                <div><label>Nombre_Usuario:</label></div>
                <input type="text" name="username" required>
            </p>

            <p>
                <div><label >Contraseña:</label></div>
                <input type="password" name="password" required>
            </p>

            <p>
                <div><label >Confirmar_Contraseña:</label></div>
                <input type="password" name="confirmPassword" required>
            </p>

           

            <button type="submit">Registrarse</button>
        </fieldset>
    </form>
</body>