<body>
    <h2>Bienvenido de vuelta ...</h2>
    <form action="/usuarios/login" method="POST">
        <fieldset>
            <% if (locals.error) { %>
                <p><strong><%= locals.error %></strong></p>
            <% } %>
            <label>Username:</label><input type="text" name="username" value="<%=datos.username %>"><%- helpers.error(errores, 'username') %>
            <p></p>
            <label>Contraseña:</label><input type="password" name="password"><%- helpers.error(errores, 'password') %>
            <button type="submit">Enviar</button>
        </fieldset>
    </form>
</body>