<h1>Subir archivos</h1>
<form action="/usuarios/index" method="POST">
    <label for="nombreImg">Nombre del archivo:</label>
    <input type="text" name="Nombre" required>
    <p></p>
    <label for="descripcionImg">Descripción de la imagen:</label>
    <input type="text" name="Descripción" required>
    <p></p>
    <label for="imagen">Imagen:</label>
    <input type="file" name="Imagen" id="imagen" accept="image/*" required>
    <p></p>
    <img id="preview" src="" alt="Vista previa" style="display: none; max-width: 1000px;">
    <p></p>
    <button type="submit">Enviar</button>
</form>

<!--El scrip para mostrar como es la imagen antes de subirla ha sido apoyada en chatgpt -->
<script>
    document.getElementById('imagen').addEventListener('change', function(event) {
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                const preview = document.getElementById('preview');
                preview.src = e.target.result;
                preview.style.display = 'block';
            };
            reader.readAsDataURL(file);
        }
    });
</script>