<!-- Cabecera de la página web -->

<% function mostrarBarra(session) { %>
    <div class="saludo">
    <% if (session.login) { %>
        <div class = "barra"> 
        <a href="/vistas/paginas/usuarios" class="enlace">Perfil</a>
        |
        <a href="/vistas/paginas/imagenes/submit.ejs" class="enlace">Panel del creador</a>
        |
        <a href="/vistas/paginas/desafios" class="enlace" >Desafíos</a>
        |
        <a href="/vistas/paginas/foro" class="enlace">Foro</a>
        |
        <a href="/vistas/paginas/tienda" class="enlace">Tienda</a>
    </div>
    <% } else { %>
        <div class = "barra"> 
            <a href="/vistas/paginas/usuarios/viewLogin.ejs" class="enlace">Iniciar Sesión</a>
            |
            <a href="/vistas/paginas/usuarios/viewRegister.ejs" class="enlace">Registrarse</a>
        </div>
    <% } %>
    </div>
<% } %>

<header>
    <h1>Mi gran página web</h1>
</header>

<header>
    <a href="paginas/Usuarios/index">
        <img src="img/icono.png" width="150" alt="Ícono de enlace">
    </a>
    <%= mostrarBarra(session) %>
</header>