<!-- Cabecera de la página web -->

<% function mostrarBarra(session) { %>
    <% if (session.login) { %>
        <div class="logo"><a href="/contenido/normal"><img src="../img/icono.png" width="150" alt="Ícono de enlace"></a></div>
        <div class = "barra"> 
        <a href="/contenido/perfil" class="enlace">Perfil</a>
        |
        <a href="/imagenes/submit" class="enlace">Panel del creador</a>
        |
        <a href="/contenido/desafios" class="enlace" >Desafíos</a>
        |
        <a href="/contenido/foro" class="enlace">Foro</a>
        |
        <a href="/contenido/tienda" class="enlace">Tienda</a>
        |
        <a href="/usuarios/logout" class="enlace">Logout</a>
    </div>
    <% } else { %>
        <div class="logo"><a href="/"><img src="../img/icono.png" width="150" alt="Ícono de enlace"></a></div>
        <div class = "barra"> 
            <a href="/usuarios/login" class="enlace">Iniciar Sesión</a>
            |
            <a href="/usuarios/register" class="enlace">Registrarse</a>
        </div>
    <% } %>
<% } %>

<header>
    
    <%= mostrarBarra(session) %>
</header>