<body>
    <h1>Foro</h1>
    <% if (posts && posts.length > 0) { %>
        <ul>
         <% posts.forEach(post => { %>
            <li>
                <a href="/foro/thread/<%= post.id %>">
                    <strong><%= post.content %></strong>
                </a>
                <p>Publicado por <%= post.userId %> el <%= post.date %></p>
            </li>
        <% }) %>
    </ul>
    <% } else { %>
       <p>No hay posts disponibles.</p>
    <% } %>


    <a href="/mensajes/post">Crear nuevo post</a>

</body>
</html>
