<h1>Foro de MyPixel</h1>

<p>Aqui irian los comentarios...</p>

<form action="/usuarios/comentar" method="POST">
    <input type="text" name="comentario" size="90" required>
    <button type="comentar">Publicar</button>
</form>